# Node modules
node_modules/
				
# Logs
logs/
*.log
npm-debug.log*
				
# .env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
				
# OS files
.DS_Store
Thumbs.db

docker-compose.override.yml
docker-compose.prod.yml
docker-compose.dev.yml
docker-compose.test.yml
docker-compose.local.yml
docker-compose.yml

# Build directories
dist/
build/

mongodb_data/